@charset "utf-8";
/* CSS Document */

* {
	font-size:14px;
	margin:0px;
	padding:0px;
}

body{

	background-color:#fafafa;
	border:0; margin:0 auto; padding:0; outline:none;
}
li{ list-style-type:none;}

a{ border-style: none;}
img{	border-style: none;}

#page{
	text-align: center;
}

#main{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align: no-repeat;
}

#header{
	height:134px;
	background-image: url(images/headerbg.png);
	width:100%;
	text-align: center;
	min-width:1200px;
}

#header-top{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	height: 67px;
	padding-top: 22px;
}


#header-head1{
	width: 200px;
	height: 67px;
	position: relative;
	float: left;
}

h1{
	font-family: "Century Gothic",serif;
	font-size: 34px; /* ���岻һ���� */
	text-shadow: 1px 1px 2px #5e5e5e;
	color: white;
}

#header-head2{
	width: 150px;
	padding-top: 16px;
	position: relative;
	float: left;
}
#header-head2 li{
	font-family: Arial;
	font-size: 12px;
	color: #616161;
}

.rss{
	width: 156px;
	height: 67px;
	position:relative;
	float: right;
}
.rss div{
	padding-right: 10px;
	float: left;
	
}

#header-head3{
	width: 245px;
	padding-right: 30px;
	text-align: right;
	position: relative;
	float: right;
}
#header-head3 li{
	font-family: Arial;
	font-size: 11px;
	color: #616161;
}

/*  header-bottom  */
#header-bottom{
	width: 100%;
	height: 45px;
}

#header-bottom-nav{
	width: 990px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}
#header-bottom-nav ul{
	height: 45px;
	float: left;
	padding-top: 1px;
}

#header-bottom-nav li{
	width: 70px;
	height: 33px;
	float: left;
	padding-top: 13px;	}

#header-bottom-nav li a{
	width: 60px;
	height: 45px;
	padding: 20px;
	font-family: Arial;
	font-size: 12px;
	color: #616161;
	text-decoration:none; 
}

#header-bottom-nav li a:hover{
	padding: 14px;
	background-image: url(images/nav.png);
	color: white;
	font-family: Arial;
	font-size: 12px;   /* �������  */
}

#header-search{
	width: 181px;
	height: 35px;
	margin-top: 8px;
	background-image: url(images/search_bg.gif);
	float: right;
	background-repeat: no-repeat;  
	border-style: none;
}

#header-search input{
	width: 151px;
	height: 20px;
	margin-top: 5px;
	margin-left: 4px;
	position: relative;
	float: left;
	color: #494949;
	background:none;
	border: none; 
	outline: none;  /*  VIP  */
}

/*   innerbody ��ʼ��  */
#innerbody1{
	height:660px;
	padding-top: 28px;
	background-color:#ededed;
	width:100%;
	min-width:1200px;
}

#innerbody1-photo{
	min-width: 980px;
	height: 500px;

}

#innerbody1-pic{
	width: 909px;
	height: 426px;
		margin-top: 35px;
	margin-left: auto;
	margin-right: auto;

	background-image: url(images/simple_img_1.jpg);
	border-style: none;
}

#innerbody1-description{
	width: 940px;
	height: 60px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
	background-color: white;
	border-style: solid; 
	border-width: 1px;
	border-color: #fefefe;
	box-shadow: 2px 5px 5px #dddddd;
	border: solid 1px #dddddd;
}
#icon-list{
	width: 980px;
	height: 20px;	
}

#innerbody1-photo ul{
width: 60px;
height: 10px;

	margin-left: auto;
	margin-right: auto;	

	padding-top: 10px;
}

#innerbody1-photo ul li a:hover{
	background-image: url(images/tabs_1.gif);
}   /*   ��ôʵ�֣�  */

#innerbody1-photo ul li{
	width: 10px;
	height: 10px;
	padding-left: 5px;
	position: relative;
	float: left;
}

#innerbody1-photo ul li div{
	width: 10px;
	height: 10px;
	background-image: url(images/tabs_2.gif);
}

#innerbody1-description p1{
	width: 36px;
	height: 33px;
	position: relative;
	float: left;
}

#innerbody1-description p2 em{
	font-family: Arial;
	font-size: 10px;
	text-align: right;
	color: #cccccc;

}

#adding{
	width: 280px;
	height: 20px;
	padding-top: 2px;
}

#adding p strong{
	font-family: Arial;
	font-size: 10px;
	color: #6e6e6e;
}

/*  �°��ҳ�濪ʼ  */
#innerbody2{
	height:1400px; 
	background-color:#fafafa;
	width:100%;
	min-width:1200px;
	margin-left:auto;
	margin-right:auto;
}

#innerbody2-left{
	width: 665px;
	height: 1200px;
	position: relative;
	float: left;
}

#column-left{
	width: 250px;
	height:280px;
	position: relative;
	float: left;
	border-bottom-style: solid;
	border-color: #c4c4c4;
	border-width: 1px;
}

#colomn-photo{
	background-color: white;
	padding: 7px;
	margin-top: 40px;
	border-style: solid;
	border-color: #dedede;
	border-width: 1px;
}

#comments{
	width: 88px;
	height: 20px;
	margin-top: 10px;
	padding-top: 5px;
	position: relative;
	float: left ;
	background-color:#111111;
	border-radius: 2px;
}
#comments-right{
	width: 88px;
	height: 20px;
	margin-top: 10px;
	padding-top: 5px;
	position: relative;
	float: right;
	background-color:#111111;
	border-radius: 2px;
}
#comments a{
	font-family: Arial;
	font-size: 10px; 
	color: white;

	text-decoration: none;
}    /*  ��ô����һ��   */
#comments-right a{
	font-family: Arial;
	font-size: 10px; 
	color: white;

	text-decoration: none;
} 
#leave-comments{
	width: 157px;
	height: 30px;
	margin-top: 10px;
	position: relative;
	float: left;	
}

#leave-comments p{
	font-family: Arial;
	font-size: 9px;
	padding-left: 5px;
	position: relative;
	float: left;	
}
#leave-comments a{
	font-family: Arial;
	font-size: 10px;
	padding-left: 5px;
	color: #da5700;
	position: relative;
	float: left;	
}

/*  column-right  */
#column-right{
	width: 390px;
	height:280px;
	padding-left: 20px;
	border-bottom-style: solid;
	border-color: #c4c4c4;
	border-width: 1px;	
	position: relative;
	float: left;
}

#column-right-top{
	width: 380px;
	padding-top: 38px;
	padding-bottom: 5px;
	font-family: Arial;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
	color: #777777;
}

#column-right-medium{
	width: 380px;
	height: 20px;
	padding-top: 7px;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	color: #aaaaaa;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #bbbbbb;
	border-width: 1px;
}

#column-right-medium a{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	text-decoration: none;
	color: #da5700;
}

#column-right-bottom p{
	width: 380px;
	font-family: Arial;
	font-size: 10px;
	line-height: 150%;
	text-align: left;
	color: #777777;
	padding-top: 12px;
}

#advertise{
	width: 270px;
	height: 360px;
}

.title{
	padding: 5px;
	margin-bottom: 10px;
	border-bottom-style: solid;
	border-color: #c4c4c4;
	border-width: 1px;	
	font-family: Arial;
	font-size: 25px;
	text-align: left;
	color: #777777;
}

.ad-photo{
	width: 125px;
	height: 125px;
	margin:4px;
	position: relative;
	float: left;

	border-style: solid;
	border-color: #dedede;
	border-width: 1px;
}

#advertise-descrition{
	margin-top: 20px;
	padding: 15px;
	font-family: Arial;
	font-size: 10px;
	line-height: 150%;
	color: #aaaaaa;
	}

#navigation{
	width: 260px;
	height: 340px;
	padding-top: 10px;
}

.category a{
	margin: 5px;
	height: 17px;
	padding: 10px;
	font-family: Arial;
	font-size: 10px;
	text-decoration: none;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	color: #555555;
	position: relative;
	float: left;
}

#nav-list{
	width: 260px;
	height: 280px;
	margin-top: 20px;
}

#nav-list ul{
	width: 272px;
	height: 203px;
	border-bottom-style: solid;
	border-color: #cccccc;
	border-width: 1px;
}

.list{
	width: 260px;
	height: 18px;
	padding: 5px;
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	text-align: left;
	background-color: #fefefe;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	color: #555555;
	position: relative;
	float: left;
}
#bottom{
	width:890px;
	position:relative;
	height:100px;
	
}

#bottom-pic{
	width: 250px;
	margin-top:30px;
}

#flickr{
	width: 270px;
	height: 500px;
	padding-top: 10px;
}

#flickr-pic{
	width: 270px;
	height: 260px;
}

.flickr-photo{
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	float: left;	
}

#copyright{
	width: 970px;
	padding-left: 200px;
	padding-top: 8px;
}

.p1{
	font-family: Arial;
	font-size: 8px;
	text-align: left;
	color: #888888;
}

.p2{
	font-family: Arial;
	font-size: 8px;
	text-align: right;
	color: #888888;
	position: relative;
	float: right;	
}
#copyright li a{
	font-family: Arial;
	font-size: 9px;
	text-decoration: none;
	color: #888888;
}

#innerbody2-right{
	width: 260px;
	height:1200px;
	padding-left: 20px;
	position: relative;
	float: left;
}

#footer{
	height:30px;
	background:#333;
	width:100%;
	float:left;
}
#footer_intro{
	width:25%;
	background:#666;
	height:70px;
	position:relative;
	margin:10px 10px;
}
	

#tmp{
width:990px;
height:auto;
margin-left:auto;
margin-right:auto;
clear:right;
}

#tmp2{
	width:980px;
	height: 500px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	border-style: solid; 
	border-width: 1px;
	border-color: #fefefe;
	box-shadow: 2px 5px 5px #dddddd;
	border: solid 1px #dddddd;
}



 
 
	
