<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AMC - Order History</title>


<script src="../../static/js/admin/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../static/js/admin/bootstrap.js"></script>
<script type="text/javascript" src="../../static/js/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/admin/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="../../static/js/admin/bootstrap-fileupload.min.js"></script>
<script src="/static/js/admin/jquery.bootpag.min.js"></script>

<link href="../../static/css/admin/bootstrap.css" rel="stylesheet">
<link href="../../static/css/admin/bootstrap-responsive.css" rel="stylesheet">
<link href="../../static/css/admin/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/admin/bootstrap-responsive.min.css" rel="stylesheet">
<link href="../../static/css/admin/bootstrap-fileupload.css" rel="stylesheet">
<link href="../../static/css/admin/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/datepicker3.css" rel="stylesheet">
<link href="../../static/css/styles.css" rel="stylesheet">

<!-- <script src="../../static/js/jquery-1.11.1.min.js"></script> -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/chart.min.js"></script>
<script src="../../static/js/chart-data.js"></script>
<script src="../../static/js/easypiechart.js"></script>
<script src="../../static/js/easypiechart-data.js"></script>
<script src="../../static/js/bootstrap-datepicker.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<script>
function drop_menu(){<!-- 选择下拉菜单 -->
  var lis = document.getElementById("drop_f");
  lis.style.display='block';
}

function declear_all(){<!-- 全选 -->
  $(document).ready(function(){
    var divs=$("input[name='field_f']");
    for(var i = 0;i<divs.length;i++)
        divs[i].checked = true;
  })
  var lis = document.getElementById("drop_f");
  lis.style.display='none';
}

function declear_re(){<!-- 反选 -->
    $("[name='field_f']").each(function(){
        if(this.checked)
        {
            this.checked = false;
        }
        else
        {
            this.checked = true;
        }
   
    })
    var lis = document.getElementById("drop_f");
    lis.style.display='none';
 
}

function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
}

</script>


<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Advance Motor－fittings </span> Company</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> 用户 <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> 用户信息</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> 设置</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/sysadmin/index/"><span class="glyphicon glyphicon-dashboard"></span> 商业分析</a></li>
			<li><a href="/sysadmin/order/"><span class="glyphicon glyphicon-th"></span> 订单管理</a></li>
			<li><a href="/sysadmin/products/"><span class="glyphicon glyphicon-stats"></span> 产品管理</a></li>
			<li><a href="/sysadmin/purchasing/"><span class="glyphicon glyphicon-list-alt"></span> 采购管理</a></li>
			<li class="active"><a href="/sysadmin/customer/"><span class="glyphicon glyphicon-pencil"></span> 客户管理</a></li>
			<li class="parent ">
				<a href="#">
					<span class="glyphicon glyphicon-list"></span> 仓库管理 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="/sysadmin/delivery/">
							<span class="glyphicon glyphicon-share-alt"></span> 发货管理
						</a>
					</li>
					<li>
						<a class="" href="/sysadmin/receiving/">
							<span class="glyphicon glyphicon-share-alt"></span> 收货管理
						</a>
					</li>
					<li>
						<a class="" href="/sysadmin/stock/">
							<span class="glyphicon glyphicon-share-alt"></span> 库存信息查询
						</a>
					</li>
				</ul>
			</li>
			<li><a href="/sysadmin/authrity/"><span class="glyphicon glyphicon-info-sign"></span> 权限管理</a></li>
			<li role="presentation" class="divider"></li>
			<li><a href="/sysadmin/login"><span class="glyphicon glyphicon-user"></span> 登陆</a></li>
		</ul>
		<div class="attribution">系统管理员 <a href="#" target="_blank" title="模板之家">amc_Admin@amc.com</a> - 联系电话<a href="#" title="网页模板" target="_blank">100-100-100</a></div>
	</div><!--/.sidebar-->
		

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">		
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">客户管理 / 订单历史</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Customer Order History</h1>
			</div>
		</div><!--/.row-->
									

		<!--      只改下面一个       -->
		<div class="row"><!--/.row1-->
		  <div class="col-lg-12">
		    <div class="panel panel-default">
		      <div class="panel-heading">订单信息列表</div>
		  <div class="panel-body">
		        
		        <!--from paraset/car/-->
		        
		        <!--1
		        <div class="tab-content" style="float:left;height:1000px;width:1050px;">
		          1-->
		        


		        <!--2
		        <div class="tab-pane active" id="tab1" style="float:left;padding-left:30px;padding-top:50px;height:900px;width:1000px;">
		        2-->

		        <div id="info" style="padding-left:50px;padding-top:0px;height:370px;width:900px;">
		              
		               <div class="bs-docs-example">
		                  <table class="table table-bordered" id="new_table">
		                    <thead>
		                      <tr> 
		                        <th style="text-align:center;display:none;">序号</th>
		                        <th style="text-align:center">订单编号</th>                       
		                        <th style="text-align:center">客户编号</th>
		                        <th style="text-align:center">总金额</th>
		                        <th style="text-align:center">订单状态</th>
		                        <th style="text-align:center">创建时间</th>                       
		                        <th style="text-align:center">订单详情</th>
		                        <th style="text-align:center">确认收款</th>
		                        <th style="text-align:center">选择</th>
		                      </tr>
		                    </thead>
		                    <div id="users_area">
		                      <tbody id="word_table">
		                       
		                      </tbody>  
		                    </div> 
		                  </table>
		                  <div id="page-selection" class="pagination pagination-centered"></div>
		                  
		                </div>
		                <script>
		                  var countperpage_args = 10;
		                  var limit_arg = 1000000;
		                  var page_id = GetQueryString("id");

		                  function getRankData_f1(countperpage_args, limit_arg){
		                      var total_page_number;
		                      $.ajax({
		                          url: "/sysadmin/customer_order_history_rank/?page=1&countperpage=" + countperpage_args + "&limit=" + limit_arg + '&customer_id=' + page_id,
		                          dataType: 'json',   
		                          type: "GET",
		                          success: function (data) {
		                            total_page_number = parseInt(data['pages']);
		                            var html = "";
		                            for(var i=0;i < data['news'].length;i += 1){
		                                user = data['news'][i];
		                                html += "<tr><td style='text-align:center;display:none;'>" + user['sale_order_number'] + "</td>";
		                                html += "<td style='text-align:center'>" + user['sale_order_number'] + "</td>";
		                                html += "<td style='text-align:center'>" + user['customer_id'] + "</td>";
		                                html += "<td style='text-align:center'>" + user['sale_order_total_price'] + "</td>";
		                                html += "<td style='text-align:center'>" + user['sale_order_status'] + "</td>";
		                                html += "<td style='text-align:center'>" + user['sale_order_create_time'] + "</td>";
		                                html += "<td  style='text-align:center'><button id='order_detail_"+i+"' type='button' style = 'background:#81DAF5'>"+"订单详情"+"</button></td>";
		                                html += "<td  style='text-align:center'><button id='confirm_pay_"+i+"' type='button' style = 'background:#F2F5A9' >"+"确认收款"+"</button></td>";
		                                html += "<td style='text-align:center'><input type='checkbox' name='field_f' style='font-size:12pt;'/></td></tr>";

		                                html += "<script>\
		                                $('#order_detail_"+i+"').click(function() {\
		                                  window.open('/sysadmin/order_detail/?id="+user['sale_order_number']+"');\
		                                });<\/script>"  
		                            }
		                            $("#word_table").empty();
		                            $("#word_table").append(html);
		                            $('#page-selection').bootpag({
		                                total: total_page_number,
		                                maxVisible: 10
		                            }).on("page", function(event, /* page number here */ num){
		                            $("#word_table").empty();
		                            $.ajax({
		                                url: "/sysadmin/customer_order_history_rank/?page=" + num + "&countperpage=" + countperpage_args + "&limit=" + limit_arg,
		                                dataType: 'json',   
		                                type: "GET",
		                                success: function (data) {
		                                  var html = "";
		                                  for(var i=0;i < data['news'].length;i += 1){
		                                    user = data['news'][i];
		                                    html += "<tr><td style='text-align:center;display:none;'>" + user['sale_order_number'] + "</td>";
		                                    html += "<td style='text-align:center'>" + user['sale_order_number'] + "</td>";
		                                    html += "<td style='text-align:center'>" + user['customer_id'] + "</td>";
		                                    html += "<td style='text-align:center'>" + user['sale_order_total_price'] + "</td>";
		                                    html += "<td style='text-align:center'>" + user['sale_order_status'] + "</td>";
		                                    html += "<td style='text-align:center'>" + user['sale_order_create_time'] + "</td>";
		                                    html += "<td style='text-align:center'><button id='order_detail' type='button' style = 'background:#81DAF5'>"+"订单详情"+"</button></td>";
		                                    html += "<td  style='text-align:center'><button id='confirm_pay' type='button' style = 'background:#F2F5A9'>"+"确认收款"+"</button></td>";
		                                    html += "<td style='text-align:center'><input type='checkbox' name='field_f' style='font-size:12pt;'/></td></tr>";
		                                  }
		                                  $("#word_table").append(html);
		                                }
		                            });
		                      });
		                  }
		          });
		        }
		        $(document).ready(function(){
		          getRankData_f1(countperpage_args, limit_arg);
		        })
		               
		                /*订单详情*/
		                $("#order_detail").click(function() {
		                  console.log("sssssssssssssssssssssssss")
		                  window.open("/sysadmin/product_add_info/");
		                });
		                </script>
		              </div> 


		        </div>
		      </div>
		    </div>
		  </div><!--/.row1-->

	</div>	<!--/.main-->		  


	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
